*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#my-lightbox-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
#my-lightbox-container.hidden{
    display: none;
}

#my-lightbox-container .image-wrap{
    max-width: 80vw;
    max-height: 80vh;
    display: block;
}
#my-lightbox-container .image-wrap img{
    max-width: 100%;
    max-height: 100%;
}