*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
#my-lightbox-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity ease-in-out .4s;
}
#my-lightbox-container.hidden{
    display: none;
    opacity: 0;
}

#my-lightbox-container .image-wrap{
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    position: relative;
}
#my-lightbox-container .image-wrap img{
    max-width: 80vw;
    max-height: 80vh;
}

#my-lightbox-container .image-wrap .nav-wrap{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
#my-lightbox-container .image-wrap .nav-wrap a{
    display: block;
    height: 100%;
    width: 50%;
    float: left;
}
#my-lightbox-container .image-wrap .nav-wrap a::before{
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    right: 30px;
    background-image: url(./images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity ease-in-out 0.4s, transform ease-in-out .2s;
}

#my-lightbox-container .image-wrap .nav-wrap a.nav-prev::before{
    right: auto;
    left: 30px;
    transform: translateX(-100px)scale(0.6);
}
/* #my-lightbox-container .image-wrap .nav-wrap a.nav-prev{
} */
#my-lightbox-container .image-wrap .nav-wrap a.nav-next{
    float: right;
}
#my-lightbox-container .image-wrap .nav-wrap a.nav-next::before{
    transform: translateX(100px)scale(0.6)rotate(180deg);
}

#my-lightbox-container .image-wrap:hover .nav-wrap a::before{
    opacity: 0.4;
    transform: translateX(0px)scale(1);
}
#my-lightbox-container .image-wrap:hover .nav-wrap a:hover::before{
    opacity: 1;
}
#my-lightbox-container .image-wrap:hover .nav-wrap a.nav-next::before{
    transform: translateX(0px)rotate(180deg)scale(1);
}


#my-lightbox-container.hidden .close-box{
    opacity: 0;
    transform: translateY(-100px);
}
#my-lightbox-container .close-box{
    margin-top: 10px;
    opacity: 1;
    transform: translateY(0px);
    transition: transform ease-in-out .3s, opacity ease-in-out .4s;
}
#my-lightbox-container .close-box p{
    margin-bottom: 0;
    float: left;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
}
#my-lightbox-container .close-box .close-window{
    background-image: url(./images/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25px;
    width: 25px;
    display: block;
    float: right;
    margin-right: 10px;
}